@media (min-width: 720px) {
    header .container {
      flex-direction: row;
      justify-content: space-between;
      nav {
          flex-direction: row;
          padding-bottom: 0;
      }
  }

}


@media (max-width: 40px) {
  header {
      text-align: center;
  }
  .containera .contenta {
      grid-column: 1/-1;
  }
  .containera .contenta {
      grid-column: 1/-1;
  }
  .contianera .sidebar {
      grid-column: 1/-1;
  }
  .relate-post {
      margin: 20px;
  }
}