.ae {
    background-color: rgb(195, 174, 146);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .produc {
        background-color: rgb(49, 47, 42);
        display: flex;
        justify-content: flex-start;
        h1 {
            color: rgb(206,176,137); 
        }
        a {
            text-decoration: none;
        }
    }
    

}

.containers {
    img {
        width: 100%;
        border: solid black;
    }
}
.creditos {
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}