#quienes-somos .container {
    text-align: center;
    padding: 200px 12px;
   p{
    font-size: 1.25em;
   }
   h2 {
    font-size: 1.8em;
   }
   .color-acento {
    color: rgb(184,167,146);
   } 
}