.domicilio {
    background-color: rgb(236,218,194);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .titlea {
        a { text-decoration: none;}
        .thea{
            color: rgb(206,176,137);
            margin-top: 0%;
            background-color: rgb(49, 47, 42);
            padding: 50px;
            text-align: center;
            font-size: 1.9em;
        }
    }
    .containera {
        background-color: rgb(236, 218, 194);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 100%;
        max-width: 10000px;
        margin: 1.6em auto;

        display: grid;
        grid-template-columns: repeat(5,1fr);
        .headera {
            h1 {font-size: 40px; font-weight: bold;}
            background:rgb(206,176,137);
            padding: 30px;
            border: 1px solid black;
            grid-column: 1/6;
            text-align: center;
            margin: 0px 40px 0px 40px;
        }
        .contenta {
            background: rgb(90,90,90);
            padding: 40px;
            border: 1px solid black;
            grid-column: span 5;
            margin: 0px 40px 0px 40px;
            
        }
        .article {
            background-color: rgb(90, 90,90);
            padding: 40px;
            margin-top: 5px;
            margin: 5px 5px 5px 5px;
 
            color: white;
            font-size: 19px;
            h1 {padding: 10px; font-size: 40px;}
            p {padding: 10px; font-size: 20px;}
        }
        .sidebar {
            margin: 0px 40px 0px 40px;
            background: #FFF;
            padding: 40px;
            border: 1px solid black;
            grid-column: span 5;
            background-color: rgb(90, 90,90);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                margin-top: 5px;
            }
            p {color: white; font-weight: bold;}
        }
        .relate-post {
            border: 1px solid black;
            background-color: rgb(90, 90, 90);
            color: white;
            height: 180px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.6 ease;
            margin: 10px;
            &:hover {
                cursor: pointer;
                color: black;
                background-color: rgba(93, 91, 88, 0.923);
            }
        }
    }


}